body{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  font-family: 'Space Mono', monospace;
  }
  
  .jumbotron{
    background-color: #ffffff;
  }
  
  .navbar{
  height: 100px;
  background-color: transparent;
  }
  
  .row {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 65px;
  }
  
  .card {
    height: 550px;
    width: 400px;
    /* margin-left: 110px; */
    margin-right: 110px;
    margin-bottom: 90px;
  }
  
  .jumbotron {
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .page-footer {
    margin-top: 50px;
    padding: 50px;
  }
  
  img {
    height: 300px;
  }
  
  .nav-link {
    padding-top: 20px;
    font-weight: 200;
    font-size: 40px;
  }
  .navbar{
    margin-top: 0px;
  }
  .mb-1 {
    margin-top: 15px;
  }
  
  .page-footer {
    border-top: 1px solid black;
    margin-left: 100px;
    margin-right: 100px;
  }
  #map {
    width: 50%;
  }
  .marker {
    background-image: url("https://www.istockphoto.com/vector/location-icon-vector-pin-sign-isolated-on-white-background-navigation-map-gps-gm1148705812-310298594");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  